@import "tailwindcss";

:root {
  --background: #f2f4f3;
  /* --background: #fff8f0; */
  --foreground: #3b3b3b;
  --main-color: #35546d;
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-color: var(--background);

  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.07) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 1px, transparent 1px);

  background-size:
    25% 100%,
    10% 300px;

  background-position:
    left top,
    left top;
}
